$receipt-background: #d3d3d3;
$mask: conic-gradient(
                from -45deg at bottom,
                #0000,
                #000 1deg 89deg,
                #0000 90deg
) 50%/10px 100%;

@mixin no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', sans-serif;
  min-height: 100vh;
  height: 100%;
  background: #66717e;
  color: #e3e3e3;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.text-center {
  text-align: center;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.overflow-hidden {
  overflow: hidden;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#popup.visible {
  opacity: 1;
  z-index: 999;
}

.popup-wrapper {
  color: #000;
  background: #fff;
  padding: 25px;
  max-width: 450px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
}

.receipt {
  width: 100%;
  padding: 25px;
  background: #ececec;
  color: #000;
  border: 1px solid $receipt-background;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-mask: $mask;
  mask: $mask;
}

.receipt-store-logo {
  width: 120px;
}

.border-dotted {
  border-bottom: 1px dotted #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.receipt-table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  @include no-user-select;

  & tr, td, th {
    border-collapse: collapse;
    cursor: all-scroll;
    transition: all 0.25s ease-in-out;
    @include no-user-select;
  }

  & tr td:last-child {
    visibility: hidden;
    opacity: 0;
  }

  & tr {
    & td:not(:first-child) {
      text-align: right;
    }

    &:hover {
      background: #d5d5d5;

      & td:last-child {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

input {
  width: 100%;
  display: block;
}

.submit-button {
  display: block;
  width: 100%;
}